$pc: 1200px;
$note: 1024px;
$tablet: 768px;
$mobile: 480px;
$minimum: 320px;

// 반응형 코드 정의
@mixin responsive($wide) {
    @if $wide == pc-wide {
        @media only screen and (max-width: $pc){ // 1200px
            @content;
        }
    } @else if $wide == note-wide {
        @media only screen and (max-width: $note){ // 1024px
            @content;
        }
    } @else if $wide == tablet-wide {
        @media only screen and (max-width: $tablet){ // 768px
            @content;
        }
    } @else if $wide == mobile-wide {
        @media only screen and (max-width: $mobile){ // 480px
            @content;
        }
    } @else if $wide == minimum-wide {
        @media only screen and (max-width: $minimum){ // 320px
            @content;
        }
    }

}

.boardWrap {
    z-index: 10;
    position: relative;
    margin-top: 56px;
    color: #666666;
    font-family: 'Noto Sans KR' !important;

    section {
        position: relative;
        overflow: hidden;
        padding-bottom: 50px;

        .board_container {
            margin: 0 auto;
            padding: 0 40px;
            max-width: 1280px;

            .board_title {
                text-align: left;

                h2 {
                    position: relative;
                    padding: 50px 0 35px 12px;
                    font-weight: bold;
                    font-size: 1.875em;
                    color: #ff0073;
                    margin: 0;
                    &::after {
                        content: "";
                        position: absolute;
                        top: 95px;
                        left: 0px;
                        width: 100%;
                        height: 2px;
                        background-color: #ff0073;
                    }
                }

            }

            .board_detail {

                .board_write_button {

                    text-align: right;

                    #board_write {
                        text-decoration: none;
                        display: inline-block;
                        width: 20%;
                        padding: 10px 0;
                        background: #ffffff;
                        border: 1px solid #ff0073;
                        color: #ff0073;
                        text-align: center;
                        cursor: pointer;
                        transition: .2s ease;

                        &:hover {
                            font-weight: bold;
                            color: #ffffff;
                            background: #ff0073;
                        }
                    }
                }

                .board_info {
                    padding: 50px 0 30px 12px;

                    p {
                        margin: 0;
                        padding: 0;
                    }

                    table {
                        width: 100%;
                        font-size: 14px;

                        thead {
                            background: #ffe1d9;
                            font-size: 12px;
                            text-align: center;
                            tr {
                                th {
                                    padding: 10px 0;
                                    border: 1px solid #ffffff;
                                }
                            }
                        }
                        tbody {
                            tr{
                                border-bottom: 1px solid #ffe1d9;
                                cursor: pointer;
                                
                                td {
                                    text-align: center;
                                    padding: 20px 6px;

                                    &:nth-child(1) {
                                        width: 5%;
                                    }
                                    &:nth-child(2) {
                                        width: 15%;
                                    }
                                    &:nth-child(3) {
                                        width: 40%;
                                    }
                                    &:nth-child(4) {
                                        width: 10%;
                                    }
                                    &:nth-child(5) {
                                        width: 5%;
                                    }
                                    &:nth-child(6) {
                                        width: 5%;
                                    }
                                    &:nth-child(7) {
                                        width: 20%
                                    }
                                    &.validContents {
                                        .vc_container {
                                            
                                            position: relative;
                                            overflow: hidden;
                                            width: 150px;

                                            .vc_wrap {
                                                display: flex;
                                                transition-property: transition;
                                                transition-duration: 1s;
                                                transform: translate3d(0px, 0, 0);
                                                transition: 1s ease;

                                                .vc_each {
                                                    flex-shrink: 0;
                                                    position: relative;
                                                    transition-property: transform;
                                                    width: 150px;
                                                    height: 150px;
                                                    //background-size: cover !important;
                                                    background-size: 150px 150px !important;
                                                    cursor: grab;

                                                    &:active {
                                                        cursor: grabbing;
                                                    }
                                                    
                                                }
                                            }

                                            .vc_arrow {
                                                width:100%;
                                                a {
                                                    position: absolute;
                                                    cursor: pointer;
                                                    top: 65px;

                                                    img {
                                                        opacity: 1;
                                                    }

                                                    &.disable {
                                                        img {
                                                            opacity: .5;
                                                            cursor: default;
                                                        }
                                                    }
                                                    
                                                }
                                                
                                                #to_left {
                                                    img {
                                                        width: 15px;
                                                        height: 25px;
                                                    }
                                                    padding-left: 7px;
                                                    left: 0;
                                                    //background: url(../img/to-left.png) no-repeat;
                                                    //background-size: 15px 25px;
                                                }
                                                #to_right {
                                                    img {
                                                        width: 15px;
                                                        height: 25px;
                                                    }
                                                    padding-right: 7px;
                                                    right: 0;
                                                    //background: url(../img/to-right.png) no-repeat;
                                                    //background-size: 15px 25px;
                                                }
                                            }

                                        }
                                        
                                    }
                                    &.invalidContents {
                                        color: #ff0073;
                                    }
                                }
                                
                                .boardview {
                                    &:hover {
                                        color: #ff0073;
                                    }
                                }

                                &:last-child{
                                    border: 0;
                                }

                                &:hover {
                                    background: rgba(255, 225, 217, 0.2);
                                }

                            }
                        }
                    }

                }




                .board_list {
                    padding-left: 12px;

                    .board_list_wrap {
                        display: inline-block;

                        #board_back_btn {
                            text-decoration: none;
                            display: inline-block;
                            width: 130px;
                            height: 46px;
                            line-height: 42px;
                            background: #ffffff;
                            border: 1px solid #ff0073;
                            color: #ff0073;
                            text-align: center;
                            cursor: pointer;
                            transition: .2s ease;
    
                            &:hover {
                                font-weight: bold;
                                color: #ffffff;
                                background: #ff0073;
                            }
                        }
                    }

                    .board_lv {
                        float: right;
                        margin-top: 12px;
                        font-size: 0.85rem;
                        color: #666666;

                        a, span {
                            padding-left: 20px;
                            position: relative;
                            display: inline-block;
                            cursor: pointer;
                        }

                        span {
                            margin-left: 12px;
                            cursor: default;
                        }

                        a::after, span::after {
                            content: "";
                            display: inline-block;
                            position: absolute;
                            left: 0;
                            top: 50%;
                            width: 18px;
                            height: 18px;
                            margin-top: -8px;
                            background-repeat: no-repeat;
                            background-size: 18px;
                            vertical-align: top;
                            opacity: .4;
                            transition: .3s ease;
                        }
    
                        #board_likes {

                            &.likeActive {
                                &::after {
                                    opacity: 1;
                                    background-image: url("../img/port_like.svg");
                                }
                            }
    
                            &::after {
                                background-image: url("../img/port_like.svg");
                            }
    
                            &:hover {
                                &::after {
                                    background-image: url("../img/port_like.svg");
                                    opacity: 1;
                                }   
                            }

                        }
    
                        #board_views {
                            
                            &::after {
                                background-image: url("../img/port_views.svg");
                            }
                        }

                    }

                }

                

            }

            .board_comment {
                border-top: 1px solid #dfdfdf;
                padding: 30px 12px;
                margin-top: 25px;

                .board_comment_wrap {
                    margin-top: 20px;
                    box-sizing: border-box;
                    position: relative;
                    border: 1px solid #dfdfdf;

                    #comment_disable {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        z-index: 15;
                        opacity: .5;
                        cursor: default;
                        background-color: #ffffff;
                        text-align: center;
                        display: inline-block;
                        transition: .3s ease;

                        &.active{
                            opacity: 1;
                            cursor: pointer;
                            
                            a {
                                color: #ffffff;
                                background: #ff0073;
                                font-weight: bold;
                            }

                        }

                        p {
                            margin: 35px auto;
                        }

                        a {
                            display: inline-block;
                            width: 20%;
                            margin-top: 10px;
                            padding: 10px 30px;
                            background: #ffffff;
                            border: 1px solid #ff0073;
                            color: #ff0073;
                            text-align: center;
                            cursor: pointer;
                            transition: .2s ease;

                            @include responsive(tablet-wide) {
                                padding: 10px 15px;
                            }
                            @include responsive(mobile-wide) {
                                width: 35%;
                                padding: 10px 5px;
                            }
                        }

                    }

                    &.focus {
                        border: 1px solid #ff0073;

                        .comment_reply_btn {
                            border-top: 1px solid #ff0073;
                        }

                    }

                    .comment_reply_area {
                        padding: 20px 5px 20px 20px;
                        position: relative;
                        height: 180px;

                        #replyArea {
                            width: 100%;
                            resize: none;
                            border: 0;
                            height: 90px;
                            color: #888888;
                            letter-spacing: 0.5px;
                            font-size: 14px;
                        }

                    }

                    .comment_reply_btn {
                        background-color: #ffefeb;
                        position: absolute;
                        width: 100%;
                        padding: 5px;
                        bottom: 0;
                        border-top: 1px solid #dfdfdf;

                        .reply_left {
                            float: left;
                            margin: 5px;
                            width: 30px;
                            height: 30px;

                            .filtImg_label {
                                position: relative;
                                background-image: url("../img/port_camera.png");
                                background-repeat: no-repeat;
                                background-size: 30px;
                                background-position: center;
                                opacity: .5;
                                width: 30px;
                                height: 30px;
                                margin: 0;
                                padding: 0;
                                cursor: pointer;
                            }

                            #fileImg {
                                display: none;
                            }

                        }

                        .reply_right {
                            float: right;

                            .reply_count {
                                position: relative;
                                display: inline-block;
                                padding-right: 10px;
                                font-size: 14px;
                                color: #8c919a;
                                font-weight: bold;

                                &.disable {
                                    color: #ff0073;
                                }

                                #rc {
                                    font-style: normal;
                                    &.cnt {
                                        color: #ff0073;
                                    }
                                }


                            }

                            #replySubmit {
                                text-decoration: none;
                                display: inline-block;
                                padding: 7px 30px;
                                background: #ffffff;
                                border: 1px solid #ff0073;
                                color: #ff0073;
                                text-align: center;
                                cursor: pointer;
                                transition: .2s ease;
                                
                                &:hover {
                                    font-weight: bold;
                                    color: #ffffff;
                                    background: #ff0073;
                                }

                            }

                        }

                    }

                }

            }

            .pagination_wrap {
                display: block;
                padding: 50px 0;
                text-align: center;
                
                .board_pagination {
                    display: inline-block;
                    margin: 0;

                    li {
                        display: inline-block;
                        padding: 5px 10px;
                        margin: 0 5px;
                        cursor: pointer;
                        background-color: #ffffff;
                        border: 1px solid #ff0073;
                        border-radius: 0;
                        color: #ff0073;
                        font-size: 12px;
                        font-weight: bold;

                        a {
                            color: #ff0073;
                            
                        }

                        &.activePage {
                            background-color: #ff0073;
                            
                            a {
                                color: #ffffff;
                            }
                        }


                        &:first-child {
                            margin-left: 0;
                        }

                        &:last-child {
                            margin-right: 0;
                        }

                    }
                }
            }

        }

        .reply_container {
            margin: 0 auto;
            padding: 12px;
            max-width: 1280px;
            border-top: 2px solid #dfdfdf;
            border-bottom: 1.5px solid #dfdfdf;

            p{
                margin: 20px auto 7px;
                font-size: 20px;
                color: #555555;
                font-weight: bold;

                span {
                    margin-left:7px;
                    color: #ff0073;
                }

            }
        }

    }

    /*
    @include responsive(pc-wide) {
        font-size: 1em;
    }

    @include responsive(note-wide) {
        font-size: 0.9em;
    }

    @include responsive(tablet-wide) {
        font-size: 0.8em;
    }

    @include responsive(mobile-wide) {
        font-size: 0.9em;
    }

    @include responsive(minimum-wide) {
        font-size: 0.6em;
    }
    */

}


#uploadMask {

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 0%;
    z-index: 15;
    background-color: #000000;
    opacity: 0;
    transition: .3s ease;

    &.active {
        opacity: 0.35;
        height: 100%;
    }

}

#uploadMaskForm {

    position: fixed;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 0%;
    z-index: 20;
    background-color: #ffffff;
    transition: .3s ease;

    #uploadArea {
        display: none;
    }

    #uploadList {
        display: none;
    }

    #uploadControl {
        display: none;
    }

    #boardTextForm {
        opacity: 0;
        transition: .5s ease;
        display: none;
    }

    &.active {
        
        height: 90%;

        #uploadMaskClose {
            position: relative;
            float: right;
            width: 30px;
            height: 30px;
            margin: 15px;
            cursor: pointer;
    
            i {
                position: absolute;
                left: 0;
                width: 100%;
                height: 1px;
                background: #ff0073;
                transition: all .3s ease;
    
                &:nth-child(2n-1){
                    transform: translateX(0) translateY(10px) rotate(45deg);
                }
    
                &:nth-child(2n){
                    transform: translateX(0) translateY(10px) rotate(-45deg);
                }
    
            }
        }

        #uploadArea {
            cursor: default;
            display: table;
            width: 55%;
            height: 35%;
            float: left;
            background: #f9f9f9;
            text-align: center;
            box-sizing: border-box;

            div {
                display: table-cell;
                color: #ff0073;
                vertical-align: middle;
            }

        }

        #uploadList {
            float: left;
            width: 55%;
            margin-top: 3%;
            max-height: calc(100% - 55%);
            overflow-y: scroll;
            box-sizing: border-box;
            display: block;
            
            &::-webkit-scrollbar {
                width: 6.5px;
            }

            &::-webkit-scrollbar-track {
                background: transparent;
            }

            &::-webkit-scrollbar-thumb {
                border-radius: 10px;
                background: #ff0073;
            }

            .uploadHeader {
                display: none;
                position: relative;
                color: #666666;
                border-bottom: 1px solid #f3f3f3;
                height: 40px;
            
            
                input[type='checkbox'] {
                    display:none;
                }
            
                label {
                    margin: 12px;
                    width: 15px;
                    height: 15px;
                    background: #ffffff;
                    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.08);
                    border: 1px solid #d6d6d6;
                    box-sizing: border-box;
                    cursor: pointer;
                }
            
                span {
                    display: inline-block;
                    height: 40px;
                    line-height: 40px;
                    position: absolute;
                    top: 0;
                }
            
                input[type='checkbox']:checked + label:before {
                    position: absolute;
                    top: 6px;
                    left: 14px;
                    content: url("../img/gallery-check.png");
                    width: 15px;
                    height: 15px;
                }
            
            }

            .uploadList {

                margin: 0;

                li {
                    cursor: default;
                    position: relative;
                    height: 34px;
                    line-height: 34px;
                    
                    span {
                        cursor: pointer;
                        display: inline-block;
                        height: 30px;
                        position: absolute;
                        top: 0;
                        width: 70%;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        overflow: hidden;
                        
                        &:nth-child(2n) {
                            width: 80px;
                            right: 20px;
                            text-align: right;
                        }
            
                    }
            
                    input[type='checkbox'] {
                        display:none;
                    }
                    
                    label {
                        margin: 10px 12px 0 12px;
                        width: 15px;
                        height: 15px;
                        background: #ffffff;
                        box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.08);
                        border: 1px solid #d6d6d6;
                        box-sizing: border-box;
                        cursor: pointer;
                    }
            
                    input[type='checkbox']:checked + label:before {
                        position: absolute;
                        top: 0px;
                        left: 14px;
                        content: url("../img/gallery-check.png");
                        width: 15px;
                        height: 15px;
                    }
            
                }
            }

            .uploadDelete {
                display: none;
            }

        }

        #uploadControl {
            float: left;
            width: 55%;
            margin: 12px;
            
            div {
                display: inline-block;
                width: 20%;
                padding: 7px 0;
                background: #ffffff;
                border: 1px solid #ff0073;
                color: #ff0073;
                text-align: center;
                cursor: pointer;
                transition: .2s ease;

                &:hover {
                    font-weight: bold;
                    color: #ffffff;
                    background: #ff0073;
                }

                a {
                    text-decoration: none;
                }
            }
        }

        #uploadDiv {
            position: fixed;
            left: 57.5%;
            top: 15%;
            width: 1px;
            height: 70%;
            background: #ff0073;
            border: 1px solid #ff0073;
            box-sizing: border-box;
        }

        #boardTextForm {
            position: absolute;
            top: 80px;
            right: 0;
            width: 40%;
            height: 80%;
            display: block;
            color: #666666;

            table{
                width: 95%;
                tbody {
                    tr {
    
                        th {
                            padding: 5px 0;
                            input, textarea {
                                width: 100%;
                                font-size: 0.85em;
                                color: #666666;

                                &:focus {
                                    border: 1px solid #ff0073;
                                }
                            }
                        }
    
                    }
                }
            }

            a {
                
                display: inline-block;
                width: 100%;
                margin-top: 10px;
                padding: 10px 30px;
                background: #ffffff;
                border: 1px solid #ff0073;
                color: #ff0073;
                text-align: center;
                cursor: pointer;
                transition: .2s ease;

                &:hover {
                    text-decoration: none;
                    font-weight: bold;
                    color: #ffffff;
                    background: #ff0073;
                }

            }
        }
    }

}

#loginAlertMask {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 0%;
    z-index: 15;
    background-color: #000000;
    opacity: 0;
    transition: .3s ease;

    &.active {
        opacity: 0.35;
        height: 100%;
    }

}

#loginAlertMaskForm {
    position: fixed;
    top: 30%;
    left: 25%;
    width: 50%;
    height: 0%;
    z-index: 20;
    background-color: #ffffff;
    transition: .3s ease;

    #loginMaskWrap {
        opacity: 0;
        transition: .5s ease;
        display: none;
    }

    &.active {
        height: 40%;
        
        #loginMaskWrap {

            width: 100%;
            display: block;
            color: #666666;

            #loginMaskClose {
                position: relative;
                float: right;
                width: 30px;
                height: 30px;
                margin: 15px;
                cursor: pointer;
        
                i {
                    position: absolute;
                    left: 0;
                    width: 100%;
                    height: 1px;
                    background: #ff0073;
                    transition: all .3s ease;
        
                    &:nth-child(2n-1){
                        transform: translateX(0) translateY(10px) rotate(45deg);
                    }
        
                    &:nth-child(2n){
                        transform: translateX(0) translateY(10px) rotate(-45deg);
                    }
        
                }
            }

            #loginAlert {
                padding: 60px 0 30px;
                text-align: center;

                img {
                    width: 40px;
                    margin: 0 auto 15px;
                }

                p {
                    margin: 0;
                    font-weight: bold;
                    color: #222222;
                    font-size: 20px
                }

            }

            #loginConfirm {
                padding: 0 20px;
                width: 100%;

                a{
                    display: inline-block;
                    text-decoration: none;
                    float: left;
                    color: #ff0073;
                    font-size: 16px;
                    line-height: 3rem;
                    border: 1px solid #ff0073;
                    cursor: pointer;
                    box-sizing: border-box;
                    text-align: center;
                    margin: 0 2%;
                    width: 46%;
                    background: #ffffff;
                    transition: .2s ease;
                    
                    &:hover {
                        text-decoration: none;
                        font-weight: bold;
                        color: #ffffff;
                        background: #ff0073;
                    }

                }

            }

        }

    }

}