@import "main"; // webpack의 sass-loader부분 중 includePaths에 경로추가 해서 ../../ 생략하도록 변경
@import "break";

/*
pc: 1200px,
note: 1024px,
tablet: 768px,
mobile: 480px,
minimum: 320px,
*/

.reactButton {
    background: #59bce0;
    transition: all 0.2s ease-in;
    display: inline-block;
    padding-top: 2rem;
    padding-bottom: 2rem;
    text-align: center;
    color: #ffffff;
    position: fixed;
    font-size: 2rem;
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;

    @include place-at-center();

    width: 1200px;

    // 반응형
    
    @include media("<huge") {
        width: 1024px;
    }

    @include media("<large") {
        width: 768px;
    }

    @include media("<medium") {
        width: 90%;
    }
    
    &:hover {
        background: red;
    }

    &:active {
        background: blue;
    }

}

#header {
    margin: 0;
    position: fixed;
    top: 0;
    z-index: 15;
    width: 100%;
    height: 56px;
    //background: #ffe1d9;
    background: #ffffff;

    &.active {
        box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.25);
    }

    .inner_header {
        max-width: 1280px;
        margin: 0 auto;
        padding: 0 40px;

        .header_category {
            display: block;
            float: left;
            margin: 0 70px;

            ul {

                li {
                    float: left;

                    a {
                        position: relative;
                        padding: 10px 20px;
                        font-size: 1.25em;
                        color: #666666;
                        line-height: 56px;
                        cursor: pointer;

                        &.active {
                            &::after {
                                transform: scaleX(1);
                            }
                        }

                        &::after {
                            content: "";
                            position: absolute;
                            bottom: 0;
                            left: 0;
                            right: 0;
                            height: 3px;
                            background: #ff0073;
                            transition: 0.2s;
                            transform: scaleX(0);
                        }

                        &:hover {
                            text-decoration: none;
                            color: #ff0073;
                        }

                    }
                }
            }

            @include media("<tablet") {
                display: none;
            }

        }

        #header_login {
            float: right;

            .header_profile {
                display: none;

                a {
                    position: relative;
                    padding: 10px 0;
                    font-size: 1.25em;
                    color: #666666;
                    line-height: 56px;
                    cursor: pointer;

                    &:hover {
                        text-decoration: none;
                        color: #ff0073;
                    }
                    
                    &:nth-child(1) {
                        &::after {
                            content: "";
                            border-right: 1px solid #ff0073;
                            margin: auto 15px;
                        }
                    }

                }

                img {
                    border-radius: 50%;
                    width: 30px;
                    padding: 13px 0;
                }

                span {
                    padding: 0 10px;
                    color: #ff0073;
                    font-weight: bold;
                }

                #profile_icon {
                    padding: 0;
                    width: 10px;
                    opacity: .5;
                    transition: .3s ease;
                    /*&::before {
                        content: "";
                        background: url(../img/f107-icon.png) no-repeat;
                    }*/
                }

                &.active {
                    display: block;

                }

                &:hover {
                    cursor: pointer;
                }

            }

            &.dropdown {
                .header_profile {
                    #profile_icon {
                        transform: rotate(-180deg);
                    }
                }
            }

        }

        .m_header_menu {
            display: none;
            position: fixed;
            top: 18px;
            left: 30px;
            z-index: 50;
            width: 30px;
            height: 20px;
            cursor: pointer;
            transition: opacity .2s ease;

            &.clicked {
                
                i {
                    
                    &:nth-child(1) {
                        transform: translateX(0) translateY(9px) rotate(45deg);
                    }

                    &:nth-child(2) {
                        opacity: 0;
                    }

                    &:nth-child(3) {
                        height: 2px;
                        transform: translateX(0) translateY(-10px) rotate(-45deg);
                    }

                }

            }

            i {
                position: absolute;
                left: 0;
                width: 100%;
                height: 1px;
                background: #ff0073;
                transition: all .3s ease;

                &:nth-child(1) {
                    height: 2px;
                }

                &:nth-child(2) {
                    top: 9px;
                    height: 2px;
                }

                &:nth-child(3) {
                    bottom: 0px;
                }

            }
            
            @include media("<tablet") {
                display: block;
            }

        }

    }

    #profile_dropdown {
        max-width: 1280px;
        margin: 56px auto 0;
        padding: 0 40px;
        /*
        position: absolute;
        right: 40px;
        top: 56px;
        width: 200px;
        height: 400px;
        background: #ffffff;
        box-shadow: 0 6px 16px 0 rgba(0, 0, 0, 0.2), 0 0 1px 0 rgba(0, 0, 0, 0.2);
*/
        #dropdown_container {
            text-align: right;

            #dropdown_wrap {
                width: 200px;
                text-align: left;
                float: right;
                background: #ffffff;
                transition: .3s ease;
                border-radius: 5px;
                box-shadow: 0 6px 16px 0 rgba(0, 0, 0, 0.2), 0 0 1px 0 rgba(0, 0, 0, 0.2);
                opacity: 0;
                visibility: hidden;

                #dropdown_profile {
                    padding: 7px 12px 0;
                    
                    a {
                        img {
                            border-radius: 50%;
                            width: 30px;
                            padding: 5px 0;
                        }
                        span {
                            padding-left: 10px;
                            font-weight: bold;
                            color: #ff0073;
                        }    
                    }
                    
                    &:hover {
                        cursor: pointer;
                    }

                }

                #dropdown_info {
                    margin: 0;
                    margin-bottom: 7px;
                    padding: 0;
                    list-style: none;
                    text-align: left;

                    li {
                        padding: 5px 12px;
                        color: #666666;
                        
                        img {
                            width: 20px;
                            padding: 5px 0;
                            opacity: .3;
                        }
                        span {
                            position: relative;
                            top: 1px;
                            font-size: 13px;
                            padding-left: 15px;
                        }

                        &:hover {
                            cursor: pointer;
                            background: #eeeeee;
                        }

                    }

                }

                &.dropdown {
                    opacity: 1;
                    visibility: visible;
                }

                hr {
                    margin: 4px 12px;
                }

            }

        }
    }

    .logo {
        float: left;

        a {
            color: #ff0073;
            font-size: 0.75em;

            &:hover {
                text-decoration: none;
            }

        }
        
        @include media("<tablet") {
            float: none;
            text-align: center;
        }

    }

    @include media("<pc") {
        font-size: 1em;
    }

    @include media("<note") {
        font-size: 0.9em;
    }

    @include media("<tablet") {
        font-size: 0.8em;
    }

    @include media("<mobile") {
        font-size: 0.9em;
    }

    @include media("<minimum") {
        font-size: 0.6em;
    }

}
