html {
    width: 100%;
    height: 100%;
    font-size: 1em;
}

body {
    margin: 0;
    padding: 0;
}
ol, ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

$width: 100px;
$height: 100px;
$size: 200px;
$location: 50%;

@mixin place-at-center {
    top: $location;
    left: $location;
    transform: translate(-50%, -50%);
}

@mixin calc($size) {
    $calculated: 10px * $size;
    width: $calculated;
    height: $calculated;
}

.outside {
    background: yellow;
    border: 3px solid #59bce0;
    width: $size;
    height: $size;

    &:hover {
        background: blue;
    }
    &:active {
        background: yellow;
    }

    .inside {
        width: $width;
        height: $height;
        background: yellowgreen;
        @include place-at-center();
    }

    .box {
        
        display: flex;
        cursor:pointer;
        transition: all 0.3s ease;

        &:hover {
            background: black;
        }

        &.one {
            background: red;
            @include calc(1);
        }
    
        &.two {
            background: orange;
            @include calc(2);
        }
    
        &.three {
            background: yellow;
            @include calc(3);
        }
    
        &.four {
            background: green;
            @include calc(4);
        }
    
        &.five {
            background: blue;
            @include calc(5);
        }
    
        &.six {
            background: indigo;
            @include calc(6);
        }
    
        &.seven {
            background: purple;
            @include calc(7);
        }

    }

}


@keyframes square-to-circle {
    
    0% {
        border-radius: 0;
        background: coral;
        transform: rotate(0deg);
    }

    25% {
        border-radius: 50% 0 0 0;
        background: darksalmon;
        transform: rotate(45deg);
    }

    50% {
        border-radius: 50% 50% 0 0;
        background: indianred;
        transform: rotate(90deg);
    }

    75% {
        border-radius: 50% 50% 50% 0;
        background: lightcoral;
        transform: rotate(135deg);
    }

    100% {
        border-radius: 50%;
        background: darksalmon;
        transform: rotate(180deg);
    }

}


.animation {
    width: 300px;
    height: 300px;
    background: coral;
    outline: 1px solid transparent; // 파이어폭스에서 랜더링 부드럽게 해줌
    // animation 태그설명
    /*
    animation-name: @keyframes의 명
    animation-duration: 타임프레임의 길이 >> 애니메이션 시작~마지막 총 지속시간
    animation-timing_function: 애니메이션 속도조절 ( linear, ease, ease-in, ease-out, ease-in-out, cubic-bezier )
    animation-delay: 애니메이션이 시작하기 전 지연시간
    animation-iteration-count: 반복 횟수
    animation-direction: 루프 방향 ( 정방향, 역방향, 번갈아 반복 )
    animation-fill-mode: 애니메이션 시작/끝 상태 제어 ( none, forwards, backwards, both )
    */
    
    // 아래 애니메이션을 풀어 해석하자면
    // square-to-circle이란 keyframes 참조
    // 애니메이션 길이는 2s
    // 시작전 딜레이는 1s
    // 반복은 무한
    // 루프방향은 alternate >> 시작 ~ 끝 후에 끝 ~ 시작 반복
    animation: square-to-circle 2s .5s infinite cubic-bezier(1,.015,.295,1.225) alternate;
}

.uploadHeader {
    display: none;
    position: relative;
    color: #666666;
    border-bottom: 1px solid #f3f3f3;
    height: 40px;


    input[type='checkbox'] {
        display:none;
    }

    label {
        margin: 12px;
        width: 15px;
        height: 15px;
        background: #ffffff;
        box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.08);
        border: 1px solid #d6d6d6;
        box-sizing: border-box;
        cursor: pointer;
    }

    span {
        display: inline-block;
        height: 40px;
        line-height: 40px;
        position: absolute;
        top: 0;
    }

    input[type='checkbox']:checked + label:before {
        position: absolute;
        top: 6px;
        left: 14px;
        content: url("../img/gallery-check.png");
        width: 15px;
        height: 15px;
    }

}

.uploadList {

    li {
        cursor: default;
        position: relative;
        height: 34px;
        line-height: 34px;
        
        span {
            cursor: pointer;
            display: inline-block;
            height: 30px;
            position: absolute;
            top: 0;

            &:nth-child(2n) {
                width: 80px;
                right: 100px;
                text-align: right;
            }

        }

        input[type='checkbox'] {
            display:none;
        }
        
        label {
            margin: 10px 12px 0 12px;
            width: 15px;
            height: 15px;
            background: #ffffff;
            box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.08);
            border: 1px solid #d6d6d6;
            box-sizing: border-box;
            cursor: pointer;
        }

        input[type='checkbox']:checked + label:before {
            position: absolute;
            top: 0px;
            left: 14px;
            content: url("../img/gallery-check.png");
            width: 15px;
            height: 15px;
        }

    }
}

.uploadDelete {
    display: none;
}